body{
	text-align: center;
}
.animal{
	width: 200px;
	height: 200px;
	margin: 1px;
}
.contenedor-images{
	width: 800px;
	margin:auto;
	margin-top: 50px;
}
.grayscale{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.invert{
	-webkit-filter: invert(100%);
	filter: invert(.8);
}
.sepia{
	-webkit-filter: sepia(100%);
	filter: sepia(1);
}